<div class="container">
    <div class="row">
        <div class="col">
            <h2>Agregar Novedades</h2>
            <form action="/admin/novedades/agregar" method="post">
                <div class="mb-3">
                    {{!-- <label for="usuario" class="form-label">Usuario</label> --}}
                    <input type="text" class="form-control" id="titulo" placeholder="Titulo" name="titulo">
                </div>
                <div class="mb-3">
                    {{!-- <label for="usuario" class="form-label">Usuario</label> --}}
                    <textarea type="text" class="form-control" id="subtitulo" placeholder="Subtitulo"
                        name="subtitulo"></textarea>
                </div>
                <div class="mb-3">
                    {{!-- <label for="usuario" class="form-label">Usuario</label> --}}
                    <textarea type="text" class="form-control" id="titulo" placeholder="Contenido"
                        name="cuerpo"></textarea>
                </div>
                <button type="submit" class="btn btn-light">Insertar Novedad</button>
            </form>
            {{#if message}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>