<link rel="stylesheet" href="stylesheets/contacto.css">
<main class="holder">
        <div class="contacto">
            <h2>Contacto Rápido</h2>
            <form action="" method='post' class="formulario">
                <p>
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" id="">
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="text" name="email" id="">
                </p>
                <p>
                    <label for="">Teléfono</label>
                    <input type="number" name="tel" id="">
                </p>
                <p>
                    <label for="">Comentarios</label>
                    <textarea name="comentarios"></textarea>
                </p>
                <p class="centrar">
                    <input type="submit" value="Enviar">
                </p>
            </form>
            <p>{{texto}}</p>
        </div>
        <div class="redes">
            <h2>Otras vias de contacto</h2>
            <p>Tambien pueden contactarse con nosotros usando los siguientes medios</p>
            <ul>
                <li><a href="https://www.facebook.com/"><i class="fas fa-solid fa-phone"></a></i>123124</li>
                <li><i class="fa-brands fa-facebook"></i> sdfgsdgs</li>
                <li><i class="fa-brands fa-twitter"></i> asdfsafsd</li>
                <li><i class="fab fa-brands fa-instagram"></i> asdfffwfy</li>

            </ul>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.882488274826!2d-58.4210371916645!3d-34.581839846997894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5420b80ae01%3A0x1eaf2ae3c2b85f2a!2sSubte%20D%20PLAZA%20ITALIA!5e0!3m2!1ses-419!2sar!4v1633099613138!5m2!1ses-419!2sar"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

    </main>

