<main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="AVION">
        </div>
        <div class="bienvenidos">
            <h2>Bienvenidos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Odit corrupti ratione harum repudiandae fuga veritatis,
                assumenda,eveniet ducimus voluptatum officiis reiciendis
                neque vero, maxime modi? Esse dolor assumenda repellat magnam!</p>
        </div>
        <div class="testimonios">
            <h2>Testimonios</h2>
            <div class="testimonio">
                <span class="cita">Simplemente excelente</span>
                <span class="autor">Jonathan Gomez</span>
            </div>
        </div>
    </main>