<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transportes X</title>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/transporte.css">
  <link rel="stylesheet" href="stylesheets/home.css">
</head>

<body>
  <header>
    <div class="logo holder">
      <img src="images/logo.png" width="100" alt="Transportes X">
      <h1>Transportes X</h1>
    </div>
  </header>
  <nav>
    <ul class="holder">
      <li><a class="activo" href="/"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/novedades">Novedades</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>

  {{{body}}}

  <footer>
    <p>Diseñado por: Nicolás García Blanco 2021</p>
  </footer>

</body>

</html>