<link rel="stylesheet" href="stylesheets/nosotros.css">
<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Deleniti eveniet, sed impedit nam vitae,
                aspernatur corporis hic laudantium voluptas in
                laboriosam debitis autem qui consectetur, quasi
                aliquam natus suscipit maiores?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Deleniti eveniet, sed impedit nam vitae,
                aspernatur corporis hic laudantium voluptas in
                laboriosam debitis autem qui consectetur, quasi
                aliquam natus suscipit maiores?</p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Distinctio, hic. Modi neque reiciendis fugit
                        nisi aliquam distinctio laborum eius error!
                        Autem repellendus enim hic magnam optio! Illo
                        distinctio rerum laborum.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Sandra Estrovski</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Distinctio, hic. Modi neque reiciendis fugit
                        nisi aliquam distinctio laborum eius error!
                        Autem repellendus enim hic magnam optio! Illo
                        distinctio rerum laborum.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>David Butter</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Distinctio, hic. Modi neque reiciendis fugit
                        nisi aliquam distinctio laborum eius error!
                        Autem repellendus enim hic magnam optio! Illo
                        distinctio rerum laborum.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Juana Martinez</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Distinctio, hic. Modi neque reiciendis fugit
                        nisi aliquam distinctio laborum eius error!
                        Autem repellendus enim hic magnam optio! Illo
                        distinctio rerum laborum.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Distinctio, hic. Modi neque reiciendis fugit
                        nisi aliquam distinctio laborum eius error!
                        Autem repellendus enim hic magnam optio! Illo
                        distinctio rerum laborum.</p>
                </div>
            </div>
        </div>
    </main>