<main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ex placeat mollitia,
                aperiam officiis minima reiciendis recusandae, voluptate neque, soluta repellendus!
                Porro temporibus nihil distinctio amet quam debitis, beatae perspiciatis.</p>
        </div>
        <hr>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ex placeat mollitia,
                aperiam officiis minima reiciendis recusandae, voluptate neque, soluta repellendus!
                Porro temporibus nihil distinctio amet quam debitis, beatae perspiciatis.</p>
        </div>
        <hr>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ex placeat mollitia,
                aperiam officiis minima reiciendis recusandae, voluptate neque, soluta repellendus!
                Porro temporibus nihil distinctio amet quam debitis, beatae perspiciatis.</p>
        </div>
        <hr>
    </main>