 <link rel="stylesheet" href="stylesheets/servicios.css">
 <main class="holder">
        <h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="avion">
            <div class="info">
                <h4>Transporte Aereo</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Illo, cum possimus? Asperiores ratione unde voluptatum quidem
                    doloribus rem veritatis illum et similique earum suscipit,
                    accusamus corrupti saepe quis maiores maxime!</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="Tren">
            <div class="info">
                <h4>Transporte Ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Illo, cum possimus? Asperiores ratione unde voluptatum quidem
                    doloribus rem veritatis illum et similique earum suscipit,
                    accusamus corrupti saepe quis maiores maxime!</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="Maritimo">
            <div class="info">
                <h4>Transporte Maritimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Illo, cum possimus? Asperiores ratione unde voluptatum quidem
                    doloribus rem veritatis illum et similique earum suscipit,
                    accusamus corrupti saepe quis maiores maxime!</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="Camión">
            <div class="info">
                <h4>Transporte Terrestre</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Illo, cum possimus? Asperiores ratione unde voluptatum quidem
                    doloribus rem veritatis illum et similique earum suscipit,
                    accusamus corrupti saepe quis maiores maxime!</p>
            </div>
        </div>
    </main>